
body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
    min-height: 100vh;
    height:100%;
    width: 100%;
}

#reg {
    display: flex;

  
    height: 55vh;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
    margin: 10px;
    border: 1px solid #e2e2e2;
    font-size: 2em;
    border-radius: 5px;
    color:black;
    margin: 50px auto !important;
}

.input {
    flex: 0 0 4%;
    padding: 10px;
    margin: 10px;
    width: 70%;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: 0.5em;
    color: black;
}
.input:hover {
    border:1px solid darkgrey;
  
    
}
.input:focus {
    border:1px solid darkgrey;  
     color:black
}
/* .input::after {
    border:1px solid darkgrey;  
     color:green;
} */

.other {
    flex: 0 0 4%;
    width: 70%;
    padding: 10px;
    font-size: 0.5em;
}


#submit {
    flex: 0 0 5%;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    outline: none;
    background-color: #41cd8c; 
    cursor: pointer;
}
#submit:hover {
    filter: contrast(80%);
}




